@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
:root{
  --primary-color: #60ba62;
  --gray1-0: #f8faf8;
  --gray1-1: #eaefea;
  --gray1-2: #dbe3db;
  --gray1-3: #cbd6cb;
  --gray1-4: #b8c8b8;
  --gray1-5: #a4b8a4;
  --gray1-6: #8da68d;
  --gray1-7: #769076;
  --gray1-8: #5d715d;
  --gray1-9: #364236;

  --gray2-0: #f7faf4;
  --gray2-1: #e7f1de;
  --gray2-2: #d6e6c6;
  --gray2-3: #c3dbab;
  --gray2-4: #adce8e;
  --gray2-5: #adce8e;
  --gray2-6: #82ac59;
  --gray2-7: #6f944c;
  --gray2-8: #58753c;
  --gray2-9: #334423;
}

body {
  background-image: url("../images/bg.jpg") ;
  background-size: cover;
  font-size: 16px;
  color: #4d4f56;
  font-weight: 400;
  overflow-x: hidden;
  font-family: 'Poppins', sans-serif;
}

/* Pen Title */
.pen-title {
  padding: 50px 0;
  text-align: center;
  letter-spacing: 2px;
}
.pen-title h1 {
  margin: 0 0 20px;
  font-size: 48px;
  font-weight: 300;
}
.pen-title span {
  font-size: 12px;
}
.pen-title span .fa {
  color: #f30;
}
.pen-title span a {
  color: #f30;
  font-weight: 600;
  text-decoration: none;
}

/* Form Module */
.form-module {
  position: relative;
  background: #ffffff;
  max-width: 320px;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 40px 0 rgba(0,0,0,.15);
  -moz-box-shadow: 0 0 40px 0 rgba(0,0,0,.15);
  -webkit-box-shadow: 0 0 40px 0 rgba(0,0,0,.15);
  -o-box-shadow: 0 0 40px 0 rgba(0,0,0,.15);
  -ms-box-shadow: 0 0 40px 0 rgba(0,0,0,.15);
  margin: 0 auto;
}
.form-module .toggle {
  cursor: pointer;
  position: absolute;
  top: -0;
  right: -0;
  background: transparent;
  width: 30px;
  height: 30px;
  margin: -5px 0 0;
  color: #ffffff;
  font-size: 12px;
  line-height: 30px;
  text-align: center;
}
.form-module .toggle .tooltip {
  position: absolute;
  top: 5px;
  right: -65px;
  display: block;
  background: rgba(0, 0, 0, 0.6);
  width: auto;
  padding: 5px;
  font-size: 10px;
  line-height: 1;
  text-transform: uppercase;
}
.form-module .toggle .tooltip:before {
  content: '';
  position: absolute;
  top: 5px;
  left: -5px;
  display: block;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-right: 5px solid rgba(0, 0, 0, 0.6);
}
.form-module .form {
  display: none;
  padding: 40px;
}
.form-module .form:nth-child(2) {
  display: block;
}
.form-module h2 {
  margin: 0 0 20px;
  color: var(--primary-color);
  font-size: 18px;
  font-weight: 400;
  line-height: 1;
}
.form-module input {
  outline: none;
  display: block;
  width: 100%;
  border: 1px solid #ccc;
  margin: 0 0 20px;
  padding: 10px 15px;
  box-sizing: border-box;
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
  transition: 0.3s ease;
}
.form-module input:focus {
  border: 1px solid var(--primary-color);
  color: #333333;
}
.form-module button {
  cursor: pointer;
  background: #f30;
  width: 100%;
  border: 0;
  padding: 10px 15px;
  color: #ffffff;
  transition: 0.3s ease;
}
.form-module button:hover {
  background: #b92a07;
}
.form-module .cta {
  background: #f2f2f2;
  width: 100%;
  padding: 15px 40px;
  box-sizing: border-box;
  color: #666666;
  font-size: 12px;
  text-align: center;
}
.form-module .cta a {
  color: #333333;
  text-decoration: none;
}

#buttn {
  color: #fff;
  background-color: var(--primary-color);
}