@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    /*margin: 0;*/
    /*padding: 0;*/
    /*box-sizing: border-box;*/
    font-family: 'Poppins', sans-serif;
}

:root {
    --yellow: #FFBD13;
    --blue: #4383FF;
    --blue-d-1: #3278FF;
    --light: #F5F5F5;
    --grey: #AAA;
    --white: #FFF;
    --shadow: 8px 8px 30px rgba(0,0,0,.05);
}

/*body {*/
/*    background: var(--light);*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    min-height: 100vh;*/
/*    padding: 1rem;*/
/*}*/


.wrapper {
    background: var(--white);
    padding: 2rem;
    /*max-width: 576px;*/
    width: 100%;
    border-radius: .75rem;
    box-shadow: var(--shadow);
    text-align: center;
}
.wrapper h3 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
}


@keyframes animate {
    0% {
        opacity: 0;
        transform: scale(1);
    }
    50% {
        opacity: 1;
        transform: scale(1.2);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}


.product-rating__main .product-rating__rating_star{
    display: flex;
    justify-content: center;
    justify-content: flex-start;
    grid-gap: .3rem;
    font-size: .9rem;
    color: var(--yellow);
    margin-bottom: .5em;
}


.modal {
    position: fixed;
    z-index: 20;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #fff;
    padding: 0;
    border-radius: 5px;
    position: relative;
    max-width: 80%;
    max-height: 80%;
    overflow-y: scroll;
    animation: fadein 0.3s;
    min-width: 50%;
}
.modal-content::-webkit-scrollbar {
    display: none;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
}
.modal-content .product-rating{
    display: flex;
    flex-direction: column;
}
.modal-content .product-rating .product-rating__avatar{
    width: 15%;
    height: 100%;
}
.modal-content .product-rating .product-rating__avatar .avatar{
    width: 30%;
    float: right;
    margin-top:.5em ;
    margin-right: .5em;
}
.modal-content .product-rating .product-rating__author-name{
}
.modal-content .product-rating .product-rating__wrap{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
}

.modal-content .product-rating .product-rating__main{
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
    font-size: small;
    padding: 5px;
    border: 2px grey solid;
    border-radius: 10px
}
.modal-content .product-rating .product-rating__main .product-rating__feedback{
    /*font-size: small;*/
}

@keyframes fadein {
    from {
        transform: translateY(-25px);
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

